<h2>My Musicians</h2>
<ul class="musicians">
  <li *ngFor="let musician of musicians" [class.selected]="musician == selectedMusician" (click)="onSelect(musician)">
    <span class="badge">{{musician.id}}</span> {{musician.name}}
  </li>
</ul>
<!--<div *ngIf="selectedMusician">
  <h2>{{selectedMusician.name | uppercase}} Details</h2>
  <div><span>Id: </span>{{selectedMusician.id}}</div>
  <div>
    <label for="name">Musician name: </label>
    <input id="name" [(ngModel)]="selectedMusician.name" placeholder="name">
  </div>
</div>-->
<app-musician-detail [musician]="selectedMusician"></app-musician-detail>


